* {
  padding: 0;
  margin: 0;
}

/* :root{
  --lighter : linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%);
  ---background: #191923;
} */

body{
  width: 100%;
  background-color: linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%);
  background: #191923;
  color: #fff;
}